$game-color: #121212FF;

.hero-body{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.game {
  width: 600px;
  height: 600px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent
}

.board {
  width: 100%;
  height: 100%
}

@-webkit-keyframes border-blink {
  50% {
    border-color: red
  }
}

@-moz-keyframes border-blink {
  50% {
    border-color: red
  }
}

@keyframes border-blink {
  50% {
    border-color: red
  }
}

@-webkit-keyframes blink {
  50% {
    visibility: hidden
  }
}

@-moz-keyframes blink {
  50% {
    visibility: hidden
  }
}

@keyframes blink {
  50% {
    visibility: hidden
  }
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: scale(0.3);
    transform: scale(0.3)
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-moz-keyframes appear {
  from {
    -moz-transform: scale(0.3);
    transform: scale(0.3)
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes appear {
  from {
    transform: scale(0.3)
  }
  to {
    transform: scale(1)
  }
}

.square {
  float: left;
  width: 33.333333333%;
  height: 33.333333333%;
  border-width: 5px;
  border-color: $game-color;
  -webkit-transition: background-color .1s;
  -moz-transition: background-color .1s;
  transition: background-color .1s;
  will-change: background-color, border-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:focus {
  outline: 0;
  background-color: hsl(0, 0%, 96%)
}

.square.top {
  border-bottom-style: solid
}

.square.bottom {
  border-top-style: solid
}

.square.left {
  clear: both;
  border-right-style: solid
}

.square.right {
  border-left-style: solid
}

.square.right > div {
  margin-left: -5px
}

.square.bottom > div {
  margin-top: -5px
}

.board.tie .square {
  -webkit-animation: border-blink .3s steps(1) 3;
  -moz-animation: border-blink .3s steps(1) 3;
  animation: border-blink .3s steps(1) 3
}

.board .square > div {
  -webkit-transition: opacity .1s;
  -moz-transition: opacity .1s;
  transition: opacity .1s
}

.board.tie .square > div, .board.win .square:not(.win) > div {
  opacity: .5
}

.square.win > div {
  -webkit-animation: blink .3s steps(1) 3;
  -moz-animation: blink .3s steps(1) 3;
  animation: blink .3s steps(1) 3
}

.square > * {
  width: 100%;
  height: 100%;
}

.x{

}

.o{
  padding: 0.75em;
}

.restart {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0)
}

@media(max-width: 960px), (max-height: 800px) {
  .game {
    width: 450px;
    height: 450px;
  }
  .square {
    border-width: 4px
  }
  .square.right > div {
    margin-left: -4px
  }
}

@media(max-width: 540px), (max-height: 630px) {
  .game {
    width: 300px;
    height: 300px;
  }

  .square {
    border-width: 3px
  }
  .square.right > div {
    margin-left: -3px
  }
  .square.bottom > div {
    margin-top: -3px
  }

  .player1, .player2 {
    width: 130px
  }
}

.overlay{
  background: rgba(10,10,10,.86);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
