<section class="hero has-background-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-flex-direction-column">
        <div class="column">
          <div class="box game">
            <div class="board is-relative">
              <div *ngIf="gameFinished" class="overlay is-flex-direction-column">
                <p class="is-centered is-centered is-size-2 mb-5 has-text-white">{{message}}</p>
                <button class="button is-large" (click)="tellReplay()">Play again?</button>
              </div>
              <div class="square top left" (click)="placeTic(0,0)">
                <object *ngIf="board[0][0] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[0][0] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
              <div class="square top" (click)="placeTic(0,1)">
                <object *ngIf="board[0][1] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[0][1] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
              <div class="square top right" (click)="placeTic(0,2)">
                <object *ngIf="board[0][2] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[0][2] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
              <div class="square left" (click)="placeTic(1,0)">
                <object *ngIf="board[1][0] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[1][0] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
              <div class="square" (click)="placeTic(1,1)">
                <object *ngIf="board[1][1] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[1][1] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
              <div class="square right" (click)="placeTic(1,2)">
                <object *ngIf="board[1][2] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[1][2] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
              <div class="square bottom left" (click)="placeTic(2,0)">
                <object *ngIf="board[2][0] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[2][0] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
              <div class="square bottom" (click)="placeTic(2,1)">
                <object *ngIf="board[2][1] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[2][1] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
              <div class="square bottom right" (click)="placeTic(2,2)">
                <object *ngIf="board[2][2] == 0" class="x" [data]="x | sanitizer" type="image/svg+xml"></object>
                <object *ngIf="board[2][2] == 1" class="o" [data]="o | sanitizer" type="image/svg+xml"></object>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box container mb-2 scorecard">
            <div class="column is-fullwidth is-flex is-justify-content-space-around">
              <span class="tag is-success is-large">{{wins}} won</span>
              <span class="tag is-warning is-large">{{ties}} tied</span>
              <span class="tag is-danger is-large">{{losses}} lost</span>
            </div>
          </div>
          <div class="column is-fullwidth is-flex is-justify-content-space-around">
            <span class="tag is-rounded" [ngClass]="connected ? 'is-success' : 'is-danger'">{{connected ? 'Connected' : 'Disconnected'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<router-outlet></router-outlet>-->
